<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet"  th:href="@{css/employee.css}"/>
    <script th:src="@{js/employee.js}"></script>
</head>

<body>
<div class="container h-100 d-flex justify-content-center"  style ="margin-top:5%;">
    <div class="row">
        <div class="col">
            <div class="row"> <h4 style ="margin-left:2%;">EmployeeList</h4> <button style ="margin-left:25%;margin-right:25%;"class="btn btn-primary" onclick="showAddForm();">Add Employee</button>
                <div>
                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <input class="btn btn-danger" type="submit" value="logout" />
                    </form>
                </div>
            </div>

            <table class="table table-borderless table-hover">
                <thead id="tableHead">
                    <tr>
                        <th id="id" scope="col">
                            ID
                            <i class="btn bi bi-arrow-up" th:onclick="getRequestWithSort('empId','asc');"></i>
                            <i class="btn bi bi-arrow-down" th:onclick="getRequestWithSort('empId','desc');"></i>
                            </th>
                        <th id ="name" scope="col">
                            Name
                            <i class="btn bi bi-arrow-up"  th:onclick="getRequestWithSort('name','asc');"></i>
                            <i class="btn bi bi-arrow-down"  th:onclick="getRequestWithSort('name','desc');"></i>
                        </th>
                        <th id ="phoneNo" scope="col">
                            Phone No
                            <i class="btn bi bi-arrow-up"  th:onclick="getRequestWithSort('phoneNo','asc');"></i>
                            <i class="btn bi bi-arrow-down"  th:onclick="getRequestWithSort('phoneNo','desc');"></i>
                        </th>
                        <th id="email" scope="col">
                            Email
                            <i class="btn bi bi-arrow-up"  th:onclick="getRequestWithSort('email','asc');"></i>
                            <i class="btn bi bi-arrow-down"  th:onclick="getRequestWithSort('email','desc');"></i>
                        </th>
                        <th id="address" scope="col">
                            Address
                            <i class="btn bi bi-arrow-up"  th:onclick="getRequestWithSort('address','asc');"></i>
                            <i class="btn bi bi-arrow-down"  th:onclick="getRequestWithSort('address','desc');"></i>
                        </th>
                    </tr>
                </thead>
                <tbody id="table">

                </tbody>
                <tfoot id = "tfoot">

                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container h-80 d-flex justify-content-center">
    <div id="addForm" style = "display:none;" class="form-group">
        <div class="d-flex">
            <div class="row">
                <form class="table" action="#" th:action="@{/employee}" th:employee="${employee}" method="POST">
                    <div class="d-inline-block">  <input type = "hidden" class="form-control" name ="empId" th:value="0" placeholder="empId"/> </div>
                    <div class="d-inline-block">  <input type = "text" class="form-control" name ="name" th:value="*{name}" placeholder="name"/></div>
                    <div class="d-inline-block">  <input type = "Number" class="form-control" name="phoneNo" pattern="[0-9]{10}" th:value="*{phoneNo}" placeholder="phoneNo"></div>
                    <div class="d-inline-block"> <input type = "email" class="form-control" name="email" th:value="*{email}" placeholder="email"></div>
                    <div class="d-inline-block"> <input type = "text" class="form-control" name="address" th:value="*{address}" placeholder="address"></div>
                    <div class="d-inline-block"> <input class = "btn btn-info" type="submit" value="Add"></div>
                    <div class="d-inline-block"> <button class="btn btn-danger" type="button" onclick="cancel();">Cancel</button> </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container h-80 d-flex justify-content-center">
    <div id="editFormDiv" style = "display:none;">
        <div class="d-flex">
            <div class="row">
                <form id="editForm" th:employee="${employee}" class="form-group">
                    <div class="d-inline-block"><input style ="width:100px;" id="editId" readonly/></div>
                    <div class="d-inline-block"><input type = "text" class="form-control" id ="editName" name ="name" th:value="*{name}" placeholder="name"/></div>
                    <div class="d-inline-block"><input type = "Number" class="form-control" id="editPhoneNo" name="phoneNo" pattern="[0-9]{10}" th:value="*{phoneNo}" placeholder="phoneNo"></div>
                    <div class="d-inline-block"><input type = "email" class="form-control" id="editEmail" name="email" th:value="*{email}" placeholder="email"></div>
                    <div class="d-inline-block"><input type = "text" class="form-control" id="editAddress" name="address" th:value="*{address}" placeholder="address"></div>
                    <div class="d-inline-block"><input class = "btn btn-info" type="submit" value="Save"></div>
                    <button class="btn btn-danger" type="button" onclick="cancel();">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>